{* {block title}{/block} *}
{block content}
	<div class="home-page">
		<div class="container">
			<h1 style="text-align:center">Úvodní stránka</h1>
			<p style="text-align:center">
				David Veselý - ročníkový projekt - SPŠT
				<br>
				<br>
				<br>
				<a n:href="Admin:default">Administrace</a>
			</p>
		</div>
	</div>
{/block}

{block scripts}
{include parent}
	
{/block}


{block head}
{/block}
