{* {extends '../@admin-layout.latte'} *}
{block content}	
	<div class="dashboard-page">
		<div class="btn-big-container">
			<a n:href="Test:new" class="btn btn-big">Vytvořit nový test</a>
		</div>
	</div>
{/block}

{block scripts}
	{include #parent}	
{/block}


