.header {
	.clearfix;
	@header-height: 60px;
	height: @header-height;
	background: @white;
	display: block;
	width: 100%;
	color: @purple;
	text-align: center;
	position: relative;
	.header-left {
		position: absolute;
		top: 0;
		left: 0;
		height: @header-height;
		z-index: 12;
		.goback-btn {
			.anim;
			background: @purple;
			color: @white;
			height: @header-height;
			line-height: @header-height;
			display: block;
			padding-left: 15px;
			padding-right: 15px;
			text-decoration: none;
			@media (max-width: 600px) {
				span {
					display: none;
				}
			}
			.fa {
				margin-right: 5px;
			}
			&:hover, 
			&:focus {
				background: darken(@purple, 10%);
			}
		}
	}
	.logo {
		color: @purple;
		text-transform: uppercase;
		font-size: 18px;
		text-decoration: none;
		line-height: @header-height;
		font-weight: bold;
	}
	.join {
		position: absolute;
		top: 0;
		right: 0;
		height: @header-height;
		.join-btn {
			.anim;
			background: @purple;
			color: @white;
			height: @header-height;
			line-height: @header-height;
			display: block;
			padding-left: 25px;
			padding-right: 25px;
			text-decoration: none;
			.icon-person {
				// display: none;
				display: inline-block;
				margin-right: 3px;
				// @media (max-width: 690px) {
				// 	display: inline-block;
				// }
			}
			.name {
				.anim;
				// display: none;
				display: inline-block;
				margin-right: 6px;
				@media (max-width: 690px) {
					display: none;
				}
			}
			&:hover, 
			&:focus {
				background: darken(@purple, 10%);
				.name {
					width: auto;
					// display: inline-block;
				}
			}
			&.btn-submenu {
				&:hover, 
				&:focus {
					background: @purple;
				}
			}
		}
		.join-menu {
			position: relative;
			z-index: 123;
			&:hover {
				.submenu {
					display: block;
				}
			}
			.submenu {
				position: absolute;
				z-index: 1234;
				right: 0;
				// width: 100%;
				min-width: 150px;
				width: 100%;
				font-size: 14px;
				display: none;
				// @media (max-width: 690px) {
				// 	width: 180px;
				// }
				a {
					height: 40px;
					line-height: 40px;
					display: block;
					color: @white;
					background: darken(@purple, 10%);
					border-bottom: 1px solid darken(@purple, 15%);
					&:hover {
						color: lighten(@purple, 20%);
						text-decoration: none;
					}
				}
			}
		}
	}
}