.new-test-page {
	.new-test-form {
		background: @white;
		border-radius: 4px;
		margin-top: 60px;
		padding: 25px;
		padding-bottom: 20px;
		margin-bottom: 40px;
		h2 {
			margin-top: 0;
			text-align: center;
		}
		.form-group-row {
			.clearfix;
			position: relative;
			.form-group {
				float: left;
			}
			.form-group-name {
				width: 60%;
			}
			.form-group-password {
				width: 18%;
				margin-left: 2%;
			}
			.form-group-attempts {
				width: 18%;
				margin-left: 2%;
			}

			.form-group-question {
				width: 72%;
			}
			.form-group-question_img {
				width: 25%;
				margin-left: 3%;
				margin-top: 30px;
			}
			.form-control-file {
				height: 30px;
				padding-top: 0;
			}

			.image-preview {
				img {
					margin-top: 10px;
					width: 100%;
				}
			}

		}

		.form-group-password {
			button {
				position: absolute;
				height: 40px; 
				width: 40px;
				top: 15px; 
				right: 0;
				// background: #424242;
				background: transparent;
				cursor: pointer;
				border: 0;
				padding: 0;
				margin: 0;
				outline: 0;
			}

			button::before,
			button::after {
				content:'';
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				margin: auto;
			}


			/* Eye open */
			input[type='password'] + button::before {
				width: 20px;
				height: 20px;
				background: #e0e0e0;
				border-radius: 15px 0 15px 0;
				transform: rotate(45deg);
				transition: height .168s;
			}

			/* Pupil open */
			input[type='password'] + button::after {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				// background: #424242;
				background: @white;
			}

			/* Eye closed  */
			input[type='text'] + button::before {
				width: 15px;
				height: 15px;
				background: transparent;
				border: 3px solid #e0e0e0;
				border-radius: 15px 0 15px 0;
				transform: rotate(45deg);
			}

			/* Pupil closed */
			input[type='text'] + button::after {
				width: 3px;
				height: 30px;
				border-radius: 0;
				transform: rotate(30deg);
				background: #e0e0e0;
				transition: height .132s;
			}
		}

		
		.form-group-correct-answers {
			.correct-answers-container {
				border: 1px solid @border-gray;
				border-radius: 4px;
				padding-top: 7px;
				.checkbox {
					width: 100%;
					&.disabled {
						cursor: not-allowed;
						input:not(:checked) + label {
							cursor: not-allowed;	
							opacity: 0.65;
							&::before{
								background-color: @input-bg-disabled;
								cursor: not-allowed;
							}
						}
					}
					input:checked + label {
						span {
							.anim;
							color: @green;
						}
						&::after {
							color: @green;
						}
					}
					input[type="checkbox"] {
						&:focus + label::before{
							border-color: @green;
						}
					}
				}
			}
		}
		.form-radio {
			.radio-label {
				width: 33%;
				.fa {
					font-size: 10px;
					display: inline-block;
					margin-right: 2px;
				}
				&.radio-radio {
					border-right: 0;
					border-radius: 4px 0 0 4px;
				}
				&.radio-checkbox {

				}
				&.radio-text {
					border-left: 0;
					border-radius: 0 4px 4px 0;
				}
			}
		}
		.question-group {
			padding-top: 28px;
			// margin-top: 33px;
			padding-bottom: 0;
			padding-bottom: 5px;
			&:nth-child(odd) {
				border-top: 1px dotted #dedede;
				border-bottom: 1px dotted #dedede;
				background: fade(lighten(@purple, 25%), 5%);
				margin-left: -25px;
				margin-right: -25px;
				padding-left: 25px;
				padding-right: 25px;
			}
			&:first-of-type {
				// border-top: 0;
				margin-top: 5px;
				padding-top: 20px;
			}
		}
		.btn-add-question {
			float: right;
			display: block;
			margin-top: 8px;
			// background: @purple;
			// color: @white;
			&:hover,
			&:focus {
				// background: darken(@purple, 8%);
			}
		}
		.btn-remove-question {
			display: inline-block;
			position: absolute;
			right: 0;
			top: -4px;
			&:hover, 
			&:focus {
				background-color: @red;
				color: @white;
			}
		}
		.form-submit {
			border-top: 1px dotted #dedede;
			margin-top: 45px;
			padding-top: 20px;
			position: relative;
			.loader {
				.anim;
				background: url(../img/loader.svg) no-repeat;
				background-size: 20px 20px;
				width: 20px;
				height: 20px;
				display: inline-block;
				position: absolute;
				margin-top: -2px;
				opacity: 0;
				margin-left: -20px;
			}
			.text {
				.anim;
			}
			&.is-loading {
				.loader {
					margin-left: -10px;
					opacity: 1;
				}
				.text {
					margin-left: 16px;
				}
			}
		}
	}
}