.new-test-page {
	.new-test-form {
		background: @white;
		border-radius: 4px;
		margin-top: 60px;
		padding: 25px;
		padding-bottom: 20px;
		margin-bottom: 40px;
		h2 {
			margin-top: 0;
			text-align: center;
		}
		.question-group {
			padding-top: 28px;
			margin-top: 33px;
			border-top: 1px dotted #dedede;
		}
		.btn-add-question {
			float: right;
			display: block;
			margin-top: -5px;
			&:hover,
			&:focus {
			}
		}
		.btn-remove-question {
			display: inline-block;
			position: absolute;
			right: 0;
			top: -4px;
		}
		.form-submit {
			border-top: 1px dotted #dedede;
			margin-top: 45px;
			padding-top: 20px;
		}
	}
}