.sign-page {
	.container {
		width: 80%;
	}
	.box {
		background: @white;
		width: 45%;
		float: left; 
		margin-top: 60px;
		padding: 25px;
		padding-bottom: 20px;
		border-radius: 4px;
		h2 {
			margin-top: 0;
		}
		&:nth-child(odd) {
			margin-right: 2.5%;
		}
		&:nth-child(even) {
			margin-left: 2.5%; 
		}
		.login-form {
			
		}
	}
}