.test-page {
	.test-box {
		background: @white;
		border-radius: 4px;
		margin-top: 60px;
		padding: 25px;
		padding-bottom: 20px;
		margin-bottom: 40px;
		h2 {
			margin-top: 0;
			text-align: center;
			small {
				opacity: .6;
				font-style: italic;
			}
		}

		.btn-print {
			position: absolute;
			top: 20px;
			right: 20px;
		}


		.questions {
			.form-group {
				margin-bottom: 25px;
			}
		}

		.question-img {
			margin-bottom: 7px;
		}

		
	}
}