{* {block title}{/block} *}
{block content}
	<div class="new-test-page">
		<div class="container">
			{snippet newTestForm}
			{form newTestForm class => "new-test-form"}
				<h2>Vytvořit nový test</h2>
				<ul class=error n:if="$form->ownErrors">
					<li n:foreach="$form->ownErrors as $error">{$error}</li>
				</ul>
				<div class="form-group-row">
					<div class="form-group form-group-name">
						{label name /}
						{input name class => 'form-control form-control-big', placeholder => 'Napište název testu...'}
					</div>
					<div class="form-group form-group-attempts">
						{label attempts /}
						{input attempts class => 'form-control form-control-big'}
					</div>
				</div>
				{* <h2>Otázky: </h2> *}
				<div class="questions">
					{foreach $form['questions']->containers as $id => $question}
						<div class="question-group">
							<div class="form-group-row">
								<div class="form-group form-group-question">
									{label questions-$id-question class => 'label-big' /}
									{input questions-$id-question class => 'form-control form-control-big', placeholder => 'Např.: Kdo je zakladatelem Facebooku? '}
								</div>
								<div class="form-group form-group-question_img">
									{label questions-$id-question_img /}
									{input questions-$id-question_img class => 'form-control-file'}
								</div>
								{if $id > 0}{input questions-$id-remove class => 'btn btn-simple btn-remove-question ajax'}{/if}
							</div>
							<div class="form-group form-radio select-answer-type">
								{* {input questions-$id-type} *}
								<label>Jaký typ odpovědí?</label>
								{foreach $form['questions-'.$id.'-type']->items as $key => $label}
									<input n:name="questions-$id-type:$key" onChange="answerTypeChanged(this)" class="answer-type-input">
									<label n:name="questions-$id-type:$key" class="radio-label radio-{$key}">
										<span>
											<i class="fa fa-dot-circle-o" n:if="$key == 'radio'"></i> 
											<i class="fa fa-check-square-o" n:if="$key == 'checkbox'"></i> 
											<i class="fa fa-pencil-square-o" n:if="$key == 'text'"></i> 
											{$label}
										</span>
									</label>
								{/foreach}
							</div>
							<div class="answer-groups">
								<div class="answer-group answer-group-radio hidden">
									<div class="form-group">
										{label questions-$id-answer_a /}
										{input questions-$id-answer_a class => 'form-control form-answer', onChange=>"formAnswerRadioChanged(this)", data-answer => 'a', placeholder => 'Např.: Mark Zuckerberg'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_b /}
										{input questions-$id-answer_b class => 'form-control form-answer', onChange=>"formAnswerRadioChanged(this)", data-answer => 'b', placeholder => 'Např.: David Veselý'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_c}Odpověď C: <small>(nepovinné)</small>{/label}
										{input questions-$id-answer_c class => 'form-control form-answer', onChange=>"formAnswerRadioChanged(this)", data-answer => 'c'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_d}Odpověď D: <small>(nepovinné)</small>{/label}
										{input questions-$id-answer_d class => 'form-control form-answer', onChange=>"formAnswerRadioChanged(this)", data-answer => 'd'}
									</div>
									<div class="form-group">
										{label questions-$id-correct_answer /}
										{input questions-$id-correct_answer class => 'form-control form-correct-answer'}
									</div>
								</div>
								<div class="answer-group answer-group-checkbox hidden">
									<div class="form-group">
										{label questions-$id-answer_a /}
										{input questions-$id-answer_a class => 'form-control form-answer', onChange => "formAnswerCheckboxChanged(this)", data-answer => 'a', placeholder => 'Např.: Mark Zuckerberg'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_b /}
										{input questions-$id-answer_b class => 'form-control form-answer', onChange => "formAnswerCheckboxChanged(this)", data-answer => 'b', placeholder => 'Např.: David Veselý'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_c}Odpověď C: <small>(nepovinné)</small>{/label}
										{input questions-$id-answer_c class => 'form-control form-answer', onChange => "formAnswerCheckboxChanged(this)", data-answer => 'c'}
									</div>
									<div class="form-group">
										{label questions-$id-answer_d}Odpověď D: <small>(nepovinné)</small>{/label}
										{input questions-$id-answer_d class => 'form-control form-answer', onChange => "formAnswerCheckboxChanged(this)", data-answer => 'd'}
									</div>
									<div class="form-group form-group-correct-answers">
										{* {label questions-$id-correct_answer /} *}
										{* {input questions-$id-correct_answer class => 'form-control form-correct-answer'} *}
										<label>Správné odpovědi:</label>
										<div class="correct-answers-container">
											{foreach $form['questions-'.$id.'-correct_answers']->items as $key => $label}
												<div class="checkbox checkbox-{$key}">
													<input n:name="questions-$id-correct_answers:$key">
													<label n:name="questions-$id-correct_answers:$key"><span>{$label}</span></label>
												</div>
											{/foreach}
										</div>
									</div>
								</div>
								<div class="answer-group answer-group-text hidden">
									{label questions-$id-answer_text /}
									{input questions-$id-answer_text class => 'form-control', placeholder => 'Např.: Steve Jobs'}
									<br>
								</div>
							</div>
						</div>
					{/foreach}
					{$form['questions']['add']->control}
				</div>
				<div class="form-group form-submit">
					{input submit class => 'btn'}
				</div>
			{/form}
			{/snippet}
		</div>
	</div>
{/block}

{block scripts}
{include parent}
	<script>
		function answerTypeChanged (el) {
			var value = $(el).val();
			// console.log(value);
			var $parent = $(el).parents('.question-group').first();
			
			$parent.find('.answer-group').addClass('hidden');
			$parent.find('.answer-group-'+value).removeClass('hidden');
		}
		function answersReloaded () {
			$('.answer-type-input').each(function(index, el) {
				if ($(el).is(':checked')) {
					answerTypeChanged (el);
				}
			});
		}
		$( document ).ajaxComplete(answersReloaded);
		//Fill selectbox 
		function formAnswerRadioChanged(el) {
			// $('.form-answer').on('change', function(){
				var $questionsGroup = $(el).parents('.question-group').first();
				var value = $(el).val();
				var answer = $(el).data('answer');
				var answerUppercase = answer.toUpperCase();

				var $thisAnswer = $questionsGroup.find('.form-correct-answer').find('[value='+answer+']');
				// if (value != '') {
					$thisAnswer.text('Odpověď '+answerUppercase+' - ' + value);
				// }else{
					// $thisAnswer.text('Odpověď '+answerUppercase);
				// }
			// });
		}
		function formAnswerCheckboxChanged(el) {
			var $questionsGroup = $(el).parents('.question-group').first();
			var $answerGroup = $(el).parents('.answer-group');


			$answerGroup.find('.form-answer').each( function( index, input ){
				var $input = $(input);
				var value = $input.val();
				var answer = $input.data('answer');
				var answerUppercase = answer.toUpperCase();
				var $groupCorrectAnswers = $answerGroup.find('.form-group-correct-answers');

				var answerText = 'Odpověď '+answerUppercase;
				
				if (value.length === 0) {
					$groupCorrectAnswers.find('.checkbox-'+answer).addClass('disabled');
				}else{
					var answerText = answerText +' - ' + value;
					$groupCorrectAnswers.find('.checkbox-'+answer).removeClass('disabled');
				}
				
				$groupCorrectAnswers.find('.checkbox-'+answer+' span').text(answerText);
			});
		}


		//Fill selectbox 
		// $('.form-answer').on('change', function(){
		// 	var $questionsGroup = $(this).parents('.question-group').first();
		// 	var value = $(this).val();
		// 	var answer = $(this).data('answer');
		// 	var answerUppercase = answer.toUpperCase();

		// 	var $thisAnswer = $questionsGroup.find('.form-correct-answer').find('[value='+answer+']');
		// 	// if (value != '') {
		// 		$thisAnswer.text('Odpověď '+answerUppercase+' - ' + value);
		// 	// }else{
		// 		// $thisAnswer.text('Odpověď '+answerUppercase);
		// 	// }
		// });

		// $('.answer-group-checkbox .form-answer').on('change', function(){
		// 	var $questionsGroup = $(this).parents('.question-group').first();
		// 	var $answerGroup = $(this).parents('.answer-group');


		// 	$answerGroup.find('.form-answer').each( function( index, input ){
		// 		var $input = $(input);
		// 		var value = $input.val();
		// 		var answer = $input.data('answer');
		// 		var answerUppercase = answer.toUpperCase();
		// 		var $groupCorrectAnswers = $answerGroup.find('.form-group-correct-answers');

		// 		var answerText = 'Odpověď '+answerUppercase;
				
		// 		if (value.length === 0) {
		// 			$groupCorrectAnswers.find('.checkbox-'+answer).addClass('disabled');
		// 		}else{
		// 			var answerText = answerText +' - ' + value;
		// 			$groupCorrectAnswers.find('.checkbox-'+answer).removeClass('disabled');
		// 		}
				
		// 		$groupCorrectAnswers.find('.checkbox-'+answer+' span').text(answerText);
		// 	});

		// });
		// $('.select-answer-type input').on('change', function(){
		// 	var value = $(this).val();
		// 	console.log(value);
		// 	var $parent = $(this).parents('.question-group').first();
			
		// 	$parent.find('.answer-group').addClass('hidden');
		// 	$parent.find('.answer-group-'+value).removeClass('hidden');

		// });
	</script>
{/block}


{block head}
{/block}
