{* {block title}{/block} *}
{block content}
	<div class="new-test-page">
		<div class="container">
			{snippet newTestForm}
			{form newTestForm class => "new-test-form"}
				<h2>Vytvořit nový test</h2>
				<ul class=error n:if="$form->ownErrors">
					<li n:foreach="$form->ownErrors as $error">{$error}</li>
				</ul>
				<div class="form-group-row">
					<div class="form-group form-group-name">
						{label name /}
						{input name class => 'form-control form-control-big', placeholder => 'Napište název testu...'}
					</div>
					<div class="form-group form-group-attempts">
						{label attempts /}
						{input attempts class => 'form-control form-control-big'}
					</div>
				</div>
				{* <h2>Otázky: </h2> *}
				<div class="questions">
					{foreach $form['questions']->containers as $id => $question}
						<div class="question-group">
							<div class="form-group-row">
								<div class="form-group form-group-question">
									{label questions-$id-question class => 'label-big' /}
									{input questions-$id-question class => 'form-control form-control-big', placeholder => 'Např.: Kdo je zakladatelem Facebooku? '}
								</div>
								<div class="form-group form-group-question_img">
									{label questions-$id-question_img /}
									{input questions-$id-question_img class => 'form-control-file'}
								</div>
								{if $id > 0}{input questions-$id-remove class => 'btn btn-simple btn-remove-question ajax'}{/if}
							</div>
							<div class="form-group form-radio">
								{* {input questions-$id-type} *}
								<label>Jaký typ odpovědí?</label>
								{foreach $form['questions-'.$id.'-type']->items as $key => $label}
									<input n:name="questions-$id-type:$key">
									<label n:name="questions-$id-type:$key" class="radio-label radio-{$key}">
										<span>{$label}</span>
									</label>
								{/foreach}
							</div>
							<div class="form-group">
								{label questions-$id-answer_a /}
								{input questions-$id-answer_a class => 'form-control form-answer', data-answer => 'a', placeholder => 'Např.: Mark Zuckerberg'}
							</div>
							<div class="form-group">
								{label questions-$id-answer_b /}
								{input questions-$id-answer_b class => 'form-control form-answer', data-answer => 'b', placeholder => 'Např.: David Veselý'}
							</div>
							<div class="form-group">
								{label questions-$id-answer_c}Odpověď C: <small>(nepovinné)</small>{/label}
								{input questions-$id-answer_c class => 'form-control form-answer', data-answer => 'c'}
							</div>
							<div class="form-group">
								{label questions-$id-answer_d}Odpověď D: <small>(nepovinné)</small>{/label}
								{input questions-$id-answer_d class => 'form-control form-answer', data-answer => 'd'}
							</div>
							<div class="form-group">
								{label questions-$id-correct_answer /}
								{input questions-$id-correct_answer class => 'form-control form-correct-answer'}
							</div>
						</div>
					{/foreach}
					{$form['questions']['add']->control}
					{* {input } *}
					
				</div>
				<div class="form-group form-submit">
					{input submit class => 'btn'}
				</div>
			{/form}
			{/snippet}
		</div>
	</div>
{/block}

{block scripts}
{include parent}
	
{/block}


{block head}
{/block}
